div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: relative;
	width: 100%;
	margin-top: -20px;
	height: 40px;
	background-color: #5090aa;
	margin-bottom: 10px;
}
#header a {
    color: white;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    padding: 0px 25px 25px 0px;
    text-transform: uppercase;
    text-decoration: none;
}
#header li {
    display: inline;
}
.pull-left {
    float:left;
}
.pull-right {
    float:right;
	margin-right: 20px;
}
/** Cool stuff
li {
	list-style-type:decimal;
}
**/
a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	width: 69%;
	height: 400px;
	background-color: #70a9a9;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	width: 30%;
	height: 400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}
